@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: 'Noto Sans', sans-serif;
}

.display {
    font-family: 'Noto Sans Display', sans-serif;
}

a:not(.nav-link) {
    @apply text-blue-700;
}

.container {
    @apply max-w-6xl m-auto py-6 px-5;
}

select {
    @apply bg-green-800 py-2 px-4 pr-7 rounded-md;
    appearance: none;
    background-image: url('/down.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px;

    & > option:disabled {
        @apply bg-green-800 text-gray-800 opacity-40;
    }
}

button {
    @apply bg-green-800 py-2 px-4 rounded-md;

    &:disabled {
        @apply bg-gray-800 opacity-40;
    }
}
